<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/login and signup.css' %}">
</head>
<body>
  {% for message in messages  %}
    <p class="messages">{{message}}</p>
  {% endfor %}
   
  <div class="container">
    
    


<form action="" method='POST'>
    {% csrf_token %}
    <label for="">Email</label>
    <input type="text" id='username' name='email'>
    <label for="">password</label>
    <input type="password" id='password' name='password'>
   
    <button>Submit</button>
    <p class='footers'>Forgot Password? <a href="{% url 'reset_password' %}">Reset</a></p>

</form>
<p class='footers'>New User? <a href="{% url 'signup' %}">Signup</a></p>

  </div>
</body>
</html>