<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        label{
            display:block
        }
    </style>
</head>
<body>
    <form action="" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {% for field in form  %}
    
        <label for="">{{field.name}}</label>
        {{field}}
    
        {% endfor %}
        <br>
        <input type="Submit">
    </form>
    <p>Already have a account <a href="{% url 'login' %}">login</a></p>
</body>
</html>